.h1 {
    text-align: center;
}
p.redcolorfont {
    color: red;
}
p.bluecolorfont {
    color: blue;
}
p.greencolorfont {
    color: green;
}
p.bigfatwords {
    font-size: 24px;
}
p.tinymidgettext {
    font-size: 10px;
}
p.spotlight {
    text-align: center;
}
p.snapyofingers {
    font-weight: bold;
}
p.sketchartist {
    font-family: Impact;
}
ol.orangelist {
    color: orangered; 
    font-size: 25px; 
    font-weight: bold;
}
p.styledFont {
    font-size: 8px;
}
#styledImage {
    border: 10px solid transparent;
    padding: 15px;
    border-color: red;
    border-bottom: 15px solid blue;
}